[General]
debugEnabled = true
; UserPass
username = admin
password = VMware1!
; You should not store passwords in plain text
; configuration files.
; password = SECRET
email_report = true
smtp_server = smtp.nsxpycheck.example:25
email_from = nsxPyChecker@nsxpycheck.example
email_to = mailbox@nsxpycheck.example
; OPTIONAL, automatically commits all the acquired data to SVN
; leveraging svnCommit function with subprocess svn
; versionControlEnabled = SVN
; To disable
; versionControlEnabled = false 
versionControlEnabled = SVN
;
reportJinjaTemplatePath = nsxPyCheckReportTmpl.html
; Configuration collection
collectESGconfigs = true
collectDLRconfigs = true
collectLogicalSWconfigs = true
collectDfwRulesetconfigs = true
collectDfwSecurityTagsconfigs = true
collectDfwSecurityGroupsconfigs = true
collectDfwIpsetconfigs = true
[nsxManager]
checkEnabled = true
; NTP servers list space sensitive
ntpServers = ntp.tdbank.ca,ntpsoc.tdbank.ca
; Syslog servers list space sensitive
syslogServers = 10.1.105.200
syslogPort = 514
syslogProtocol = UDP
[NvControllers]
checkEnabled = true
controllerStatus = RUNNING
syslogServers = 10.1.105.200,10.2.205.200
syslogPort = 514
syslogProtocol = UDP
syslogLevel = INFO
[nsxHostsStatus]
checkEnabled = true
nsxMgrToFirewallAgentConn = UP
nsxMgrToControlPlaneAgentConn = UP
hostToControllerConn = UP
[NvGeneral]
; parameters used by def nsxPyCheckNvGeneral
checkEnabled = true
dlrApplianceSize = compact
; DLRs and ESGs datastore name mask
dataStoreNameOfActiveVse = EDGE
vmVersion = 6.2.7
edgeStatus = GREEN
esgApplianceSize= quadlarge
; Number of VM instances for edge
; HA for DLR can be enabled, but secondary VM is missing, checks covers HA configuration for DLR
dlrNumberOfDeployedVms = 2
; Esgs in ECMP mode, HA is disabled
esgNumberOfDeployedVms = 1
[EdgeSyslog]
; parameters used by def nsxPyCheckNvEdgeSyslog 
checkEnabled = true
protocol = udp
; Syslog server addresses, space sensitive formatting
serverAddresses = 10.1.105.200,10.2.205.200
[EdgeFirewall]
; parameters used by def nsxPyCheckNvEdgeFirewall 
checkEnabled = true
firewallEnabled = false
[EdgeRouting]
; parameters used by def nsxPyCheckNvEdgeRouting  
checkEnabled = true
ecmpEnabled = true
LoggingEnabled = true
; enables all BGP related checks
bgpEnabled = true
; using NSX Central CLI check bgp neighbor state and alert if does not match with definition below 
bgpNeighborState = Established
ospfEnabled = false
RedistStaticToBgp = false
RedistConnectedToBgp = true
RedistOspfToBgp = false
bgpGracefulRestart = true
bgpDefaultOriginate = false
defaultRoute = 0.0.0.0/0
mtu = 9000
backupRouteAdminDistance = 250
; BGP timers, space sensitive formatting
BgpHoldDownTimers = 9,30
BgpKeepAliveTimers = 3,10
; ******* means password set
BgpPassword = ********
[DhcpRelay]
; parameters used by def nsxPyCheckNvDlrDhcpRelay  
checkEnabled = true
; DHCP server addresses, space sensitive formatting
dhcpServers = 10.1.105.200,10.2.205.200
[DlrInterfaces]
; parameters used by def nsxPyCheckNvDlrInterfaces  
checkEnabled = true
mtu = 9000
; Number of interfaces configured as Uplink
numberOfUplinks = 1
isConnected = true
[EsgInterfaces]
; parameters used by def nsxPyCheckNvEsgInterfaces  
checkEnabled = true
mtu = 9000
; Number of interfaces configured as Uplink
numberOfUplinks = 2
isConnected = true
enableProxyArp = false
enableSendRedirects = false

