; nsxPyCheck - NSX Configuration Compliance Tool - Configuration Baseline
[General]
;
debugEnabled = false
; UserPass
username = admin
password = VMware1!
; You should not store passwords in plain text
; configuration files.
; password = SECRET
email_report = false
smtp_server = smtp.example.com:25
email_from = nsxPyCheck@nsxPyCheck
email_to = user1@example.com, user2@example.com
; OPTIONAL, automatically commits all the acquired data to SVN
; leveraging svnCommit function with subprocess svn
; versionControlEnabled = SVN
; To disable
; versionControlEnabled = false 
versionControlEnabled = false
;
reportJinjaTemplatePath = nsxPyCheckReportTmpl.html
; Configuration collection
collectESGconfigs = true
collectDLRconfigs = true
collectLogicalSWconfigs = true
collectDfwRulesetconfigs = true
collectDfwSecurityTagsconfigs = true
collectDfwSecurityGroupsconfigs = true
collectDfwSecurityPoliciesconfigs = true
collectDfwIpsetconfigs = true
;
[nsxManager]
;
checkEnabled = true
; Communication to vCenter
vcConfigStatus = true
; NTP servers list space sensitive
ntpServers = time1.example.com,time2.example.com
; Syslog servers list space sensitive
syslogServers = syslog.example.com
syslogPort = 514
syslogProtocol = UDP
;
[NvControllers]
;
checkEnabled = true
controllerStatus = RUNNING
syslogServers = 192.168.0.101,192.168.0.102
syslogPort = 514
syslogProtocol = UDP
syslogLevel = INFO
[nsxHostsStatus]
checkEnabled = true
nsxMgrToFirewallAgentConn = UP
nsxMgrToControlPlaneAgentConn = UP
hostToControllerConn = UP
[NvGeneral]
;
checkEnabled = true
dlrApplianceSize = compact
; DLRs and ESGs datastore name mask
dataStoreNameOfActiveVse = EDGE
vmVersion = 6.2.7
edgeStatus = GREEN
esgApplianceSize= quadlarge
; Number of VM instances for edge
; HA for DLR can be enabled, but secondary VM is missing, checks covers HA configuration for DLR
dlrNumberOfDeployedVms = 2
; Esgs in ECMP mode, HA is disabled
esgNumberOfDeployedVms = 1
;
[distributedRouter]
checkEnabled = true
; Syslog
syslogCheckEnabled = true
syslogProtocol = udp
; Syslog server addresses, space sensitive formatting
syslogServerAddresses = 192.168.0.101,192.168.0.102
; Firewall
firewallCheckEnabled = true
firewallEnabled = false
; Static Routing
routingCheckEnabled = true
ecmpEnabled = true
routingLoggingEnabled = true
; Static Routing
staticRoutingCheckEnabled = true
staticRouteMtu = 9000
staticRouteAdminDistance = 250
staticRoutes = 0.0.0.0/0
; OSPF
ospfCheckEnabled = true
ospfEnabled = false
; BGP
bgpCheckEnabled = true
bgpEnabled = true
; using NSX Central CLI check bgp neighbor state and alert if does not match with definition below 
bgpNeighborState = Established
bgpRedistEnabled = true
redistStaticToBgp = false
redistConnectedToBgp = true
redistOspfToBgp = false
bgpGracefulRestart = true
bgpDefaultOriginate = false
; BGP timers, space sensitive formatting
bgpHoldDownTimers = 9,30
bgpKeepAliveTimers = 3,10
; ******* means password set
bgpPassword = ********
;
; DHCP Relay
dhcpRelayCheckEnabled = true
; DHCP server addresses, space sensitive formatting
dhcpServers = 192.168.0.101,192.168.0.102
; Interfaces checks
IfsCheckEnabled = true
IfsMtu = 9000
; Number of interfaces configured as Uplink
numberOfUplinks = 1
isConnected = true
;
[gatewayServices]
checkEnabled = true
; Syslog
syslogCheckEnabled = true
syslogProtocol = udp
; Syslog server addresses, space sensitive formatting
syslogServerAddresses = 192.168.0.101,192.168.0.102
; Firewall
firewallCheckEnabled = true
firewallEnabled = false
; Routing
routingCheckEnabled = true
ecmpEnabled = true
routingLoggingEnabled = true
; Static Routing
staticRoutingCheckEnabled = false
staticRouteMtu = 9000
staticRouteAdminDistance = 250
staticRoutes = 0.0.0.0/0
; OSPF
ospfCheckEnabled = true
ospfEnabled = false
; BGP
bgpCheckEnabled = true
bgpEnabled = true
; using NSX Central CLI check bgp neighbor state and alert if does not match with definition below 
bgpNeighborState = Established
bgpRedistEnabled = true
redistStaticToBgp = true
redistConnectedToBgp = true
redistOspfToBgp = false
bgpGracefulRestart = true
bgpDefaultOriginate = false
; BGP timers, space sensitive formatting
bgpHoldDownTimers = 9,30
bgpKeepAliveTimers = 3,10
; ******* means password set
bgpPassword = ********
;
; DHCP Relay
dhcpRelayCheckEnabled = false
; DHCP server addresses, space sensitive formatting
dhcpServers = 192.168.0.101,192.168.0.102 
;
; Interfaces checks
IfsCheckEnabled = true
IfsMtu = 9000
; Number of interfaces configured as Uplink
numberOfUplinks = 2
isConnected = true
enableProxyArp = false
enableSendRedirects = false

